<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/content/site.css" />
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
    <script src="../static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('show_entries') }}" class="navbar-brand">FoodChan</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('show_entries') }}">Home</a></li>
                    {% if not session.logged_in %}
                    <li><a href="{{ url_for('home') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% for message in get_flashed_messages() %}
        <br/>
        <div class="alert alert-info alert-dismissable">
            <a herf="#" class="close" data-dismiss="alert" aria-label="close">x</a>
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>

    <script src="../static/scripts/jquery-1.10.2.js"></script>
    <script src="../static/scripts/bootstrap.js"></script>
    <script src="../static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
