{% extends "layout.html" %}
{% block content %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th> No. </th>
        <th> title </th>
        <th> writer </th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
      <tr>
        <th>{{ entry.id }}</th>
        <th><a href="{{ url_for('show_posts', title = entry.title ) }}">{{ entry.title }}</a></th>
        <th>{{ entry.writer}}</th>
      <tr>
    {% else %}
      <tr><em>Unbelievable.  No entries here so far</em></tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
