{% extends "layout.html" %}
{% block content %}
  <h2><strong> 게시판 </strong></h2>
  <table class="table">
    <thead>
      <tr>
        <th><h4><strong> No. </strong></h4></th>
        <th><h4><strong> Title </strong></h4></th>
        <th><h4><strong> Writer </strong></h4></th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
      <tr>
        <th>{{ entry.id }}</th>
        <th><a href="{{ url_for('show_posts', title = entry.title ) }}">{{ entry.title }}</a></th>
        <th>{{ entry.writer }}</th>
      <tr>
    {% else %}
      <tr><em>Unbelievable.  No entries here so far</em></tr>
    {% endfor %}
    </tbody>
  </table>
  <button type="submit" value="write"><a href="{{ url_for('do_write') }}">작성하기</a></button>
{% endblock %}
